$color: red;

ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}

.science {
    font-size: 10px;
    p {
        color: $color;
    }
    h3 {
        color: blue;
    }
}